.App {
  text-align: center;
}

.App-header {
  background-color: #021526;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  background-color: #021526;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 50px;
  color: white;
}

.thumbnail {
  flex-direction: column;
  color: #021526;
  margin: 30px 0;
}

#wraper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#navbar {
  background-color: #658da6;
  min-height: 100vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

#feed {
  background-color: #405f73;
  min-height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
button {
  padding: 12px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 18px;
  background-color: #658da6;
  border: solid 1px transparent;
  border-radius: 5px;
  margin: 10px;
}

img {
  max-width: 80%;
  height: auto;
  margin: 1rem;
}
